@import "custom";
@import "~bootstrap/scss/bootstrap";

body {

    max-width: 500px !important;
    margin-top: 30px !important;
    margin: auto;
    background-color: rgb(245, 243, 240);

}

#sim-header {

    font-family: 'Red Hat Display', sans-serif;

}

.row {

    font-family: 'Open Sans', sans-serif;

}

.form1 {

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    display: flexbox;
    border: 1px solid #ccc;
    border-color: black;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;

}

.column {

  text-align: center;
}

#form1 {

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    color: black;
    padding: 14px 25px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px !important;


}

input[type=submit] {

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    background-color: #fbdf73;
    color: black;
    padding: 14px 25px;
    margin-top: 250px !important;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
