h1 {

    position: relative;
    font-size: 5em;
    color: rgb(15,79,230);
    text-transform: uppercase;
    border-bottom: 10px solid rgb(242,183,20);
    line-height: initial;

}

h1::before {

    content: attr(PROG);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: blueviolet;
    overflow: hidden;
    border-bottom: 10px solid rgb(206,85,85);

}

@keyframes loading {
    
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    
}